* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-style {
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  padding-right: 50px;
  color: whitesmoke;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  .logo {
    padding: 5px 0 0 5px;
    position: relative;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    img {
      width: 15%;
      color: white;
    }
  }
  @keyframes logo {
    0% {
      left: 0;
    }
    50% {
      left: 25px;
    }
    100% {
      left: 0;
    }
  }
  .listing-style {
    float: right;
    list-style-type: none;
    li {
      float: left;
      margin: 15px 20px;
      font-family: "Anton";
      font-size: 1.5rem;
      &:hover {
        border-bottom: 3px solid whitesmoke;
        cursor: pointer;
      }
    }
  }
  .nav-btn {
    display: none;
    float: right;
    margin: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
    font-size: 1.7rem;
  }
  @media screen and(max-width: 600px) {
    .logo {
      img {
        width: 25%;
      }
    }
    .listing-style {
      width: 0;
      height: 0;
      overflow: hidden;
      transition: all 1s linear;
      li {
        float: none;
      }
    }
    .show-nav {
      height: 100%;
      width: 100%;
    }
    .nav-btn {
      display: block;
    }
  }
}

// home page style
.about {
  margin: 0 auto 0 auto;
  padding: 150px 0 100px 0;
  background-image: url("./pictures/bubble.jpg");
  border-bottom: 5px solid dodgerblue;
  display: flex;
  justify-content: space-around;
  animation: 5s ease 0s normal forwards 1 about;
  @keyframes about {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
  .text-about {
    width: 40%;
    padding-top: 20px;
    font-family: "Cabin";
    color: dodgerblue;
    text-align: center;
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      span {
        font-size: 2rem !important;
      }
    }
    .info {
      padding-top: 50px;
      article {
        display: flex;
        align-items: center;
        img {
          width: 10%;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          margin-left: 5px;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
  }
  .picture-about {
    width: 30%;
    margin: 50px auto;
    img {
      width: 50%;
      border-radius: 50%;
      background: whitesmoke;
      padding: 3px;
      border: 10px solid dodgerblue;
      border-style: inset;
    }
  }
  @media screen and(max-width: 768px) {
    flex-wrap: wrap;
    padding: 100px 0 100px 0;
    .text-about {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    }
    .picture-about {
      display: flex;
      justify-content: center;
      width: 80%;
    }
  }
}

// about me part style
.about-me {
  background: rgba(30, 144, 255, 0.2);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid dodgerblue;
  h1 {
    width: 30%;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Anton";
    font-size: 2rem;
    text-align: center;
    color: dodgerblue;
    border-bottom: 5px solid dodgerblue;
    @media screen and (max-width: 400px) {
      width: 50%;
    }
  }
  .first-art {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30%;
      position: relative;
      animation-name: developer;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
    section {
      width: 40%;
      text-align: justify;
      p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 2px 0;
        font-size: 1.2rem;
        color: rgb(75, 75, 75);
        @media screen and (max-width: 768px) {
          font-size: 1rem;
          padding-top: 10px;
        }
      }
    }
    @keyframes developer {
      0% {
        left: 0px;
        top: 0px;
      }
      25% {
        left: 10px;
        top: 0px;
      }
      50% {
        left: 10px;
        top: 10px;
      }
      75% {
        left: 0px;
        top: 10px;
      }
      100% {
        left: 0px;
        top: 0px;
      }
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      img {
        width: 60%;
      }
      section {
        margin-top: 20px;
        width: 90%;
      }
    }
  }
  .sec-article {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 25px;
      font-size: 1.2rem;
      color: rgb(75, 75, 75);
    }
    section {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 10px;
      img {
        width: 7vw;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 17vw;
          padding: 3vw;
        }
      }
    }
  }
}
