* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: dodgerblue;
  padding-right: 50px;
  color: whitesmoke;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.navbar-style .logo {
  padding: 5px 0 0 5px;
  position: relative;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.navbar-style .logo img {
  width: 15%;
  color: white;
}

@-webkit-keyframes logo {
  0% {
    left: 0;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0;
  }
}

@keyframes logo {
  0% {
    left: 0;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0;
  }
}

.navbar-style .listing-style {
  float: right;
  list-style-type: none;
}

.navbar-style .listing-style li {
  float: left;
  margin: 15px 20px;
  font-family: "Anton";
  font-size: 1.5rem;
}

.navbar-style .listing-style li:hover {
  border-bottom: 3px solid whitesmoke;
  cursor: pointer;
}

.navbar-style .nav-btn {
  display: none;
  float: right;
  margin: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
  font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
  .navbar-style .logo img {
    width: 25%;
  }
  .navbar-style .listing-style {
    width: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
  }
  .navbar-style .listing-style li {
    float: none;
  }
  .navbar-style .show-nav {
    height: 100%;
    width: 100%;
  }
  .navbar-style .nav-btn {
    display: block;
  }
}

.about {
  margin: 0 auto 0 auto;
  padding: 150px 0 100px 0;
  background-image: url("./pictures/bubble.jpg");
  border-bottom: 5px solid dodgerblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: 5s ease 0s normal forwards 1 about;
          animation: 5s ease 0s normal forwards 1 about;
}

@-webkit-keyframes about {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes about {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.about .text-about {
  width: 40%;
  padding-top: 20px;
  font-family: "Cabin";
  color: dodgerblue;
  text-align: center;
}

.about .text-about h1 {
  font-size: 3rem !important;
}

.about .text-about h2 span {
  font-size: 2rem !important;
}

.about .text-about .info {
  padding-top: 50px;
}

.about .text-about .info article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .text-about .info article img {
  width: 10%;
}

.about .text-about .info article span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bolder;
}

.about .picture-about {
  width: 30%;
  margin: 50px auto;
}

.about .picture-about img {
  width: 50%;
  border-radius: 50%;
  background: whitesmoke;
  padding: 3px;
  border: 10px solid dodgerblue;
  border-style: inset;
}

@media screen and (max-width: 768px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 0 100px 0;
  }
  .about .text-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .about .picture-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
}

.about-me {
  margin-bottom: 10px;
}

.about-me p {
  padding-top: 10px;
  font-family: "Anton";
  font-size: 2rem;
  text-align: center;
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
}
/*# sourceMappingURL=App.css.map */