* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 2px solid rgb(5, 79, 153);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(5, 79, 153);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  .logo {
    padding-left: 10px;
    position: relative;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    img {
      width: 12%;
      color: white;
      @media screen and (max-width: 768px) {
        width: 10%;
      }
    }
  }
  @keyframes logo {
    0% {
      left: 0;
    }
    50% {
      left: 25px;
    }
    100% {
      left: 0;
    }
  }
  .listing-style {
    width: 60%;
    display: flex;
    list-style-type: none;
    transition: 0.5s;
    li {
      float: left;
      margin: 15px 20px;
      font-family: "Anton";
      font-size: 1.5rem;
      a {
        text-decoration: none;
        color: rgb(5, 79, 153);
        &:hover {
          border-bottom: 3px solid rgb(5, 79, 153);
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
  }
  .nav-btn {
    display: none;
    float: right;
    margin: 5px;
    width: 20%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgb(5, 79, 153);
    font-size: 1.7rem;
  }
  @media screen and(max-width: 768px) {
    .logo {
      img {
        width: 25%;
      }
    }
    .listing-style {
      flex-direction: column;
      width: 0;
      height: 0;
      overflow: hidden;
      transition: all 1s linear;
      li {
        float: none;
        font-size: 1.2rem;
      }
    }
    .show-nav {
      height: 100%;
      width: 100%;
    }
    .nav-btn {
      display: block;
    }
  }
}

// home page style
.about {
  margin: 0 auto 0 auto;
  padding: 150px 0 100px 0;
  background-image: url("./pictures/bubble.jpg");
  border-bottom: 5px solid rgb(67, 98, 129);
  display: flex;
  justify-content: space-around;
  animation: 2s linear 0s normal forwards 1 about;

  @keyframes about {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .text-about {
    width: 40%;
    padding-top: 20px;
    font-family: "Cabin";
    color: rgb(5, 79, 153);
    text-align: center;
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      span {
        font-size: 2rem !important;
      }
    }
    .info {
      padding-top: 50px;
      article {
        display: flex;
        align-items: center;
        img {
          width: 10%;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          margin-left: 5px;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
  }
  .picture-about {
    width: 30%;
    margin: 50px auto;
    img {
      width: 50%;
      border-radius: 50%;
      background: whitesmoke;
      padding: 3px;
      border: 10px solid dodgerblue;
      border-style: inset;
    }
  }
  @media screen and(max-width: 768px) {
    flex-wrap: wrap;
    padding: 100px 0 100px 0;
    .text-about {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    }
    .picture-about {
      display: flex;
      justify-content: center;
      width: 80%;
    }
  }
}

// about me part style
.about-me {
  background: rgba(30, 144, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 85px 0 50px 0;
  border-bottom: 5px solid rgb(5, 79, 153);
  h1 {
    width: 30%;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Anton";
    font-size: 2rem;
    text-align: center;
    color: rgb(5, 79, 153);
    border-bottom: 5px solid rgb(5, 79, 153);
    @media screen and (max-width: 400px) {
      width: 50%;
    }
  }
  .first-art {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30%;
      position: relative;
      animation-name: developer;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
    section {
      width: 40%;
      text-align: justify;
      p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 2px 0;
        font-size: 1.2rem;
        color: rgb(5, 79, 153);
        @media screen and (max-width: 768px) {
          font-size: 1rem;
          padding-top: 10px;
        }
      }
    }
    @keyframes developer {
      0% {
        left: 0px;
        top: 0px;
      }
      25% {
        left: 10px;
        top: 0px;
      }
      50% {
        left: 10px;
        top: 10px;
      }
      75% {
        left: 0px;
        top: 10px;
      }
      100% {
        left: 0px;
        top: 0px;
      }
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      img {
        width: 60%;
      }
      section {
        margin-top: 20px;
        width: 90%;
      }
    }
  }
  .sec-article {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 25px;
      font-size: 1.2rem;
      color: rgb(5, 79, 152);
    }
    section {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 10px;
      img {
        width: 7vw;
        position: relative;
        animation-name: load-img;
        animation-duration: 2s;
      }
      &:hover {
        img {
          position: relative;
          animation-name: spin-img;
          animation-duration: 1s;
        }
      }
      @keyframes spin-img {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes load-img {
        from {
          transform: translateY(50%);
          opacity: 0.1;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 17vw;
          padding: 3vw;
        }
      }
    }
  }
}

//projects style
.projects {
  background-color: rgba(30, 144, 255, 0.4);
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  border-bottom: 5px solid rgb(5, 79, 153);
  position: relative;
  h1 {
    width: 30%;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Anton";
    font-size: 2rem;
    text-align: center;
    color: rgb(5, 79, 153);
    border-bottom: 5px solid rgb(5, 79, 153);
    @media screen and (max-width: 400px) {
      width: 50%;
    }
  }
  .project-link {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    animation-name: load-img;
    animation-duration: 4s;
    @keyframes load-img {
      from {
        transform: translateY(50%);
        opacity: 0.1;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .project-image {
      display: flex;
      justify-content: center;
      position: relative;
      width: 30%;
      margin-top: 10px;
      @media screen and (max-width: 768px) {
        width: 50%;
      }
      img {
        opacity: 1;
        display: block;
        width: 80%;
        height: auto;
        border-radius: 10px;
        transition: 0.5s ease;
        backface-visibility: hidden;
        border: 3px solid dodgerblue;
        border-style: inset;
      }
      .project-name {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
        a {
          text-decoration: none;
          color: rgb(5, 79, 153);
          font-weight: bolder;
          font-size: 1.5rem;
          font-family: "Anton";
          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }
      }
      &:hover {
        img {
          opacity: 0.4;
          border: 5px solid dodgerblue;
          border-style: inset;
        }
        .project-name {
          opacity: 1;
        }
      }
    }
  }
}
